<!DOCTYPE>
 <html>
    <head>
          <title>Events | Skillset </title>
    </head>
          <body>
                    <h1>Events Page </h1>
                 <p>This is events page </p>
           </body>
</html>



