<% provide(:title, "Home") %>
<h1>Home Page </h1>

<body>
<section class="hero">
  <div class="hero-content">
    <h1>Welcome to SKILLSET COLLEGE<h1>
    <p>Discover our programs and take the first step towards your future.</p>
    <%= link_to register_path, class: "btn btn-primary" do %>
  ADMISSION
  <span class="sr-only">Learn More</span>
<% end %>
  </div>
</section>
  <p>This is the homepage</p>
</body>  
</div>

